* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: url('https://web-programming-mid-term-sound.s3.ap-northeast-2.amazonaws.com/background.jpeg') center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #525252;
    user-select: none;
}

.piano-score {
    text-align: center;
    color: #ffffff;
}

.piano-score-p {
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
}

.piano-score-label {
    font-size: 25px;
}

.keys {
    display: flex;
    flex: 1;
    /*min-height: 100vh;*/
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

/* 메트로늄 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #fa545c;
    font-weight: bold;
}

.bpm-display .tempo {
    font-size: 4em;
}

.tempo-text {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #fff;
}

.tempo-settings .decrease-tempo {
    line-height: 25px;
}

.tempo-settings .increase-tempo {
    line-height: 32px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.start-stop {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    background: #fa545c;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.start-stop:hover {
    background: #ff656c;
}

.measures {
    display: flex;
    justify-content: center;
}

.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.measures .stepper:hover {
    background: #ff656c;
    color: #fff;
}

.measures .add-beats {
    line-height: 20px;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #ffffff;
}
